<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tapperware.dzikirpagipetang">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dppicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dppicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".choseActivity" />
        <activity android:name=".dzikirPagiActivity" />
        <activity android:name=".dzikirPetangActivity" />
        <activity android:name=".dzikirSholatActivity"></activity>
    </application>

</manifest>